/* Start Variables */
:root {}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: 0.2s;
    color: white;
}

img {
    max-width: 100%;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

body {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 1.4px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: relative;
    color: white;
}

::-webkit-scrollbar {}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {}

::-webkit-scrollbar-thumb:hover {}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */
/* start header */
header {
    padding: 10px 0;
    background-color: rgb(35 32 32 / 68%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header .logo {
    border-radius: 50%;
    max-width: 40px;
}

header .container {
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

header .header-wrap {
    gap: 25px;
    flex-basis: 80%;
}

header .search-wrap,
.search-wrap1 {
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-wrap1 {
    padding: 0 15px;
    margin: 10px 0;
    justify-content: center;
}

header input[type=text] {
    padding: 10px 15px;
    border: none;
    font-size: 17px;
    border-radius: 25px;
    color: white;
    background-color: #000;
    width: 70%;
}

@media screen and (max-width: 600px) {

    header input[type=text] {
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    header input[type=text] {
        border: 1px solid #ccc;
    }
}

@media (max-width: 600px) {
    header .search-wrap {
        display: none;
    }
}

@media (min-width: 600px) {
    header .search-wrap1 {
        display: none;
    }
}

.register {
    text-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

.register .Create-account {
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    padding: 12px 15px;
}

.register .Create-account:hover {
    color: black;
    border-color: black;
    background-color: white;
}

.register .log-in {
    padding: 10px 10px;
    border-radius: 10px;
}

.register .log-in:hover {
    background-color: white;
    color: black;
}

.msidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    background-color: #000000;
    overflow-x: hidden;
    z-index: 1;
    justify-content: center;
}

.overlay {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

input[type="checkbox"]:checked~.msidebar {
    z-index: 2;
}

input[type="checkbox"]:checked~.overlay {
    display: block;
}

.menu-icon {
    cursor: pointer;
    font-size: 27px;
    color: #ffffff;
    position: absolute;
    top: 38px;
    right: 25px;
    z-index: 2;
}

.menu-icon:hover {
    transform: scale(1.2);
}

header input[type="checkbox"] {
    visibility: hidden;
    position: relative;
}

@media (min-width: 768px) {
    header input[type="checkbox"] {
        display: none;
    }
}

input::after {
    content: "\f550";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 26px;
    display: inline-block;
    visibility: visible;
    color: white;
    cursor: pointer;
    top: -6px;
    position: absolute;
}

#menu-toggle:checked~.msidebar {
    width: 60%;
    height: 100%;
}

.msidebar .scontainer {
    flex-direction: column;
    gap: 40px;
    padding: 200px 20px;
    width: 550px;
    align-items: center;
}

/* End Header */
/* Start Landing */
.landing {
    padding: 85px 0;
}

@media (max-width: 600px) {
    .landing {
        padding: 150px 0;
    }
}

.landing .container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.sections {
    flex-direction: column;
    width: 240px;
    gap: 25px;
}

.welcome {
    padding: 25px 20px;
    border-radius: 20px;
    background-color: #282b2f;
    gap: 15px;
    flex-direction: column;
}

.sections .register {
    flex-direction: column-reverse;
    gap: 5px;
}

.sections .sub-sections {
    flex-direction: column;
    gap: 10px;
}

/* End Landing */